body {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  color: $color-text;
}
/////////////////////////////////////////////
/* Header */
.menu__link {
  font-weight: 900;
  font-size: 32px;
  line-height: 60px;

  &:hover {
    color: $color-accent;
  }

  @media (max-width: 1565px) {
    font-size: 20px;
  }
  @media (max-width: 1440px) {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.menu__info-item {
  @media (max-width: 1565px) {
    font-size: 20px;
  }
  @media (max-width: 1565px) {
    font-size: 16px;
    line-height: 18px;
  }
  @media (max-width: 1023px) {
    font-size: 12px;
    line-height: 100%;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.header__cart-quantity {
  @media (max-width: 1440px) {
    font-size: 16px;
  }
}

.header__cart-text {
  @media (max-width: 1440px) {
    font-size: 16px;
  }
}

/////////////////////////////////////////////////////////
/* Catalog */
.catalog__title {
  display: inline-block;
  font-size: 40px;
  line-height: 75px;
  padding: 5px 17px 6px 17px;
  background: #ffffff;
  opacity: 0.75;
  border-radius: 6px;

  .catalog__item:hover & {
    color: $color-accent;
  }

  @media (max-width: 1023px) {
    font-size: 25px;
    line-height: 45px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 499px) {
    font-size: 16px;
    line-height: 18px;
  }
}

/////////////////////////////////////////////////
/* delivery */
.title {
  font-weight: 900;
  font-size: 40px;
  line-height: 75px;
  width: 100%;
  background: $color-secondary;
  padding: 12px 0;
  text-align: center;

  @media (max-width: 1023px) {
    font-size: 30px;
    line-height: 55px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.text {
  font-weight: 900;
  font-size: 32px;
  line-height: 60px;

  text-align: center;

  @media (max-width: 1023px) {
    font-size: 24px;
    line-height: 32px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.delivery__item {
  text-align: left;

  @media (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 18px;
  }
}

///////////////////////////////////////////
/* popup */
.popup__btn {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  color: #151212;
}

.popup__price {
  @media (max-width: 767px) {
    display: block;
    font-size: 16px;
    margin: 0;
  }
}

//////////////////////

.order__text {
  &:last-of-type {
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 100%;
      margin: 10px 0;
    }
  }
}
