// fonts
$font-main: "Cairo", sans-serif;

// colors
$color-text: #151212;
$color-main: #f3ddd4;
$color-accent: #ff5722;
$color-secondary: #ffccbc;
$box-shadow: 0px 4px 16px $color-accent;

//
$border: 16px;
